apiVersion: v1
kind: Service
metadata:
  name: {{ include "baby-names.fullname" . }}-frontend
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "baby-names.frontend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
  - port: {{ .Values.frontend.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "baby-names.frontend.selectorLabels" . | nindent 4 }}
